#logo{
    width: 301.61px;
    height: 45.15px;
}
.back-azul{
    background-color: #050939;
}
.butao{
    border-radius: 10px;
    background-color: #ff0000!important;
}
.fundo-section{
    background-image: url("../images/fundofurniture.jpg");
    height: 520px;
    background-repeat: no-repeat;
    background-size: cover;
}
.texto-branco{
    color: white!important;
}
#texto-slider{
   /* margin-left: 60%;
    margin-top: 10%;*/
    margin-left: 520px;
    margin-top: 100px;
    font-size: 25px;
}
#botao-slider{
    /*margin-left: 60%;*/
    margin-left: 900px;
    padding: 10px 35px;
    border-radius: 10px;
}
.carrossel-itens {
    display: block;
    margin: 50px auto;
    min-height: 500px;
    width: 700px;
    max-height: 432px;
    border-radius: 10px;
}
.interior-carrossel {
    /* height: 800px;
    width: 800px; */
    background-color: #050939;
    max-width: 100%;
    max-height: 100%;
}

.texto-carrossel h5 {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 41px;
    text-align: center;
    color: darkgreen;
    font-weight: bold;
}
.trilha {
    background: linear-gradient(179.84deg, #E0004D -65.31%, #050939 99.86%);
    min-height: 450px;   
    min-width: fit-content;
}

.container-trilha {
   padding-top: 40px;
}

.trilha-conteudo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    margin-top: -10px;
}

.trilha-titulo {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 38px;
    /* identical to box height */

    text-align: center;

    color: #FFFFFF;
    margin-bottom: 80px;
}

.trilha-conteudo p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 900;
    line-height: 25px;
    letter-spacing: 0em;
    color: #FFFFFF;
    margin-left: 70px;
}


.comeco {
    margin:  0 auto;
}

.meio {
    margin: 0 auto;
}

.fim {
    margin: auto;
}

.comeco img {
    width: 75px;
    margin-bottom: 17px;
    margin-left: 140px;
}


.meio img {
    width: 110px;
    margin-top: -5px;
    margin-bottom: 18px;
    margin-left: 200px;
}

.meio p {
    margin-top: 5px;
    margin-left: 120px;
}

.fim img {
    width: 90px;
    margin-top: -10px;
    margin-left: 190px;
    margin-bottom: 27px;
}

.btn-trilha {
    flex: none;
    order: 0;
    flex-grow: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 31px;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 10px;
    width: 217px;
    height: 60px;
    margin:  40px auto;

    background: rgba(224, 0, 77, 0.9);
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.45);
    border-radius: 15px;
}
.fundo-sectionmob{
    background-image: url("../images/mobile.png");
    height: 598px;
    background-repeat: no-repeat;
    background-size: cover;
}
#texto-mobile{
    margin-left: 100px;
    margin-top: 100px;
    font-size: 25px; 
}
.fundo-section2{
    background-image: url("../images/fundoslider2.jpg");
    height: 675px;
    background-repeat: no-repeat;
    background-size: cover;
}
#texto-slider2{
    margin-left: 520px;
    margin-top: 100px;
    font-size: 25px;
 }
.fundo-section3{
    background: linear-gradient(179.84deg, #E0004D -65.31%, #050939 99.86%);
    height: 698px;
}
#videofut{
    margin-left: 25%;
    margin-top: 10%;
}
.patro{
    width: 144px;
    height: 69px;
    margin-left: 50px;
    margin-top: 40px;
}
.fundo-section4{
    background-image: url('../images/fundosliderplan.jpg');
    height: 698px;
}
.itens-section4{
    margin-top: 100px;
}
#butao-section4{
    padding: 10px 35px;
    border-radius: 10px;
}
.fundo-section5{
    background: linear-gradient(179.84deg, #E0004D -65.31%, #050939 99.86%);
    height: 300px;
}
.bg-degrade{
    background: linear-gradient(179.84deg, #E0004D -65.31%, #050939 99.86%);
}
.depoimentos{ 
    height: 250px; 
} 
.dentro{
    padding-top: 20px;
}
.dab{ 
    margin-top: 180px;
}
.bg-footer{
    background-color: #050939;
}
